SECRET_KEY=asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfsdfasdfasdfasdfasdfasdfasdf
DB_NAME=nsg_postgresql
DB_USER=nsg_app
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET=
AWS_STATIC=
